@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* header */
html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
}

header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 8px 6px -6px black;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
    background-color: yellow;
    padding: 0;
    position: relative;

}

.container {
    padding: 0;
    margin: 0;
    width: 40%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: solid 1px black;
}


.square {
    border: solid 1px black;
    padding:0;
    margin: 0;
    min-width: 0;
}
